// _header.scss
header {
    z-index: 99;
    background: #fff;
    padding: 5px 10px 5px;
    height: 140px;
    position: relative;
    text-align: center;
    
     @media (min-width: 1024px) {
        height: 100vh;
        position: fixed;
        padding: 25px 10px 10px 10px;
        width: 15.66%;
        text-align: left;
    }
    
    h2 {
        font-family: "Times New Roman", Times, serif;
    }
}


.logo {
    margin: 25px auto 10px;
    width: 60%;
    position: relative;
    z-index: 100;
    
    @media (min-width: 768px) {
        margin: 15px auto 10px;
        width: 75%;
    }
    
    @media (min-width: 1024px) {
        width: 100%;
    }
    
}

.contact-info {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    
    @media (min-width: 1024px) {
        text-align: left;
        position: absolute;
        bottom: 90px;
        left: 10px;
        right: auto;
        top: auto;
    }
    a {
        color: #808080;
    }
    p {
        margin: 0;
    }
}

.phoneNo {
    font-size: 1.2rem;
    
    @media (max-width: 1023px) {
        top: 0;
        position: absolute;
        left: auto;
        right: 0;
    }

    @media (min-width: 375px) {
        font-size: 1.65rem;
    }

    @media (min-width: 1024px) {
        height: auto;
        display: block;
    }

    @media (min-width: 1200px) {
        font-size: 2rem;
    }

    @media (min-width: 1400px) {
        font-size: 2.25rem;
    }
}

nav {
    margin: 50px 0;
    ul {
        list-style: none;
        padding-left: 25px;

        li {
            padding-left: 15px;
            font-size: 1.1rem;
            font-weight: 500;
            line-height: 2rem;
            a {
                color: #808080;
            }
            li:hover a {
                color: #96b1d2;
            }
        }
    }
}

.slogan {
    color: #808080;
    font-family: $font_header;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
}


@media (max-width: 1024px) {
    .slogan {
        display: none;
    }
    nav {
        margin: 0 auto auto;
        width: 100%;
    }
    nav ul {
        margin-left: 0;
        padding-left: 0;
        
    }
    nav ul li {
        padding-left: 15px;
        display: inline-block;
    }
    .logo {
        max-width: 200px;
    }
}
