.home-images .home-image {
    position: relative;
}

.home-images .home-image amp-img {
    position: relative;
    z-index: 100;
}

.page-template-template-home-page-php .home-images h2 {
    background: $font-white-color;
    padding: 5px 10px;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
    z-index: 100;
    
    @media (max-width: 768px) {
        width: 100%;
        position: relative;
        margin: 0;
    }
    
    @media (min-width: 769px) {
        background: none repeat scroll 0 0 rgba($font-white-color, .85);
        top: -19px;
        position: absolute;
        right: 0;
        
        &:hover {
            background: none repeat scroll 0 0 rgba($font-white-color, .9);
        }
    }
}

.page-template-template-home-page-php .home-images h2 a {
    color: $font_header_color;
    font-family: $font_header;
    font-size: 1.8rem;
    
    @media (min-width: 769px) {
        font-size: 2rem;
        color: rgba($font_header_color, .7);
    }
}

.page-template-template-home-page-php .home-images h2:hover a {
    @media (min-width: 769px) {
        -webkit-transition:all 0.3s ease;
        -moz-transition:all 0.3s ease;
        -ms-transition:all 0.3s ease;
        -o-transition:all 0.3s ease;
        transition:all 0.3s ease;
        color: $font_header_color;
    }
}

.page-template-template-home-page-php main {
    padding: 0;
    
    @media (max-width: 1024px) {
        width: 100%;
    }
}